In [26]:
import matplotlib.pyplot as plt       # This library is used to plot curves
import pandas as pd                   # This library is used for data analysis
import numpy as np                     #This library is used for working with arrays and performing various linear algebra operations
from sklearn.model_selection import train_test_split  #This library is used for performing test_train_splits on the data         


import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
import csv
import string
import random
import sklearn
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
from google.colab import drive                #This library is used for mounting drive

In [3]:
drive.mount('/content/gdrive')                       #Mount google drive

Mounted at /content/gdrive

In [6]:
train = pd.read_csv("/content/gdrive/MyDrive/trainData.tsv", delimiter="\t")
test = pd.read_csv("/content/gdrive/MyDrive/testData.tsv", delimiter="\t")

In [7]:
train

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [8]:
test

             id                                             review
0      12311_10  Naturally in a film who's main themes are of m...
1        8348_2  This movie is a disaster within a disaster fil...
2        5828_4  All in all, this is a movie for kids. We saw i...
3        7186_2  Afraid of the Dark left me with the impression...
4       12128_7  A very accurate depiction of small time mob li...
...         ...                                                ...
24995   2155_10  Sony Pictures Classics, I'm looking at you! So...
24996     59_10  I always felt that Ms. Merkerson had never got...
24997    2531_1  I was so disappointed in this movie. I am very...
24998    7772_8  From the opening sequence, filled with black a...
24999  11465_10  This is a great horror film for people who don...

[25000 rows x 2 columns]

In [10]:
punc_list = string.punctuation
list_of_stopwords = stopwords.words('english')

In [11]:
def textProcessing(text):
    text_withoutPunctuation = []
    for i in text:
      if(i not in punc_list):
        text_withoutPunctuation.append(i)
    
    text_withoutPunctuation = ''.join(text_withoutPunctuation)
    list_of_words = text_withoutPunctuation.split()
    list_of_processed_words =[]

    for w in list_of_words:
      if(w not in list_of_stopwords):
        lowerCase_word = w.lower()
        list_of_processed_words.append(lowerCase_word) 
    return list_of_processed_words

In [14]:
y = train['sentiment']

In [15]:
train = train.drop('sentiment',1)
X = train.drop('id',1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [16]:
X = np.array(X)
y = np.array(y)

In [17]:
y.shape

(25000,)

In [18]:
X.shape

(25000, 1)

In [19]:
y

array([1, 1, 0, ..., 0, 0, 1])

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [21]:
model = Pipeline([('bow', CountVectorizer(analyzer=textProcessing)),  ('tfidf', TfidfTransformer()),  ('classifier', MultinomialNB()), ])
model.fit(X_train,y_train)

Pipeline(steps=[('bow',
                 CountVectorizer(analyzer=<function textProcessing at 0x7f612e355710>)),
                ('tfidf', TfidfTransformer()),
                ('classifier', MultinomialNB())])

In [22]:
y_pred = model.predict(X_test)

In [23]:
y_pred

array([1, 1, 1, ..., 0, 1, 0])

In [24]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.89      0.85      0.87      2547
           1       0.85      0.89      0.87      2453

    accuracy                           0.87      5000
   macro avg       0.87      0.87      0.87      5000
weighted avg       0.87      0.87      0.87      5000